<div id="clearance" class="sign-in">
  <h2 style="margin-top: 120px"><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>

</div>
