<h1 style="padding-top: 120px"> Additional Information </h1>


<%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
<% end %>

