<% if current_user == User.find(params[:id]) %>

<h1 style="padding-top: 120px"> Additional Information </h1>


<%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
<% end %>

<% else %>
	redirect_to root_path
<% end %>

