/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";
/* Propeller buttons */
@import "http://propeller.in/components/button/css/button.css";
/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";
/* Propeller input */
@import "http://propeller.in/components/textfield/css/textfield.css";
/* Propeller card css */
@import "http://propeller.in/components/card/css/card.css";
/* Bootstrap datetimepicker */
@import "http://propeller.in/components/datetimepicker/css/bootstrap-datetimepicker.css";
/* Propeller datetimepicker */
@import "http://propeller.in/components/datetimepicker/css/pmd-datetimepicker.css";
/* Propeller navbar */
@import "http://propeller.in/components/navbar/css/navbar.css";
/* Propeller dropdowns */
@import "http://propeller.in/components/dropdown/css/dropdown.css";
/* Propeller list */
@import "http://propeller.in/components/list/css/list.css";
/* Propeller modal */
@import "http://propeller.in/components/modal/css/modal.css";
/* Propeller radio */
@import "http://propeller.in/components/radio/css/radio.css";
/* Propeller textfield */
@import "http://propeller.in/components/textfield/css/textfield.css";
/* Propeller checkbox */
@import "http://propeller.in/components/checkbox/css/checkbox.css";
/* Propeller sidebar */
@import "http://propeller.in/components/sidebar/css/sidebar.css";

/*----- Menu -----*/

.pmd-btn-flat.btn-primary {
    color: black;
    background-color: transparent;
}

.pmd-btn-flat.btn-primary:hover {
    color: white;
    background-color: transparent;
}
.pmd-navbar.navbar .btn.pmd-btn-fab {
    margin: 12px 0;
    padding: 0;
    border: 0px;
}

.navbar-inverse {
    background-color: #0069C0;
    border-color: #0069C0;
}

.navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.pmd-sidebar .pmd-user-info > a:hover, .pmd-sidebar .pmd-user-info > a:focus {
	background-color: #0069C0;
}

.pmd-sidebar .pmd-user-info > a {
	background-color: #2196f3;
}
/*----- Home Page -----*/

#light-banner {
	position: absolute;
	height: 50px;
	background-color: #6EC6FF;
	color: black;
	font-size: 23px;
	width: 100%;
	left: 0;
	padding: 10px 10px;
	font-family: 'Roboto', sans-serif;
}

#home-banner {
	background-image: url(/assets/fansipan.jpg);
	position: absolute;
	top: -15px;
	left: 0px;
	height: 465px;
	width: 100%;
	background-size: cover;
}

#home-banner-text {
	color: whitesmoke;
	text-align: center;
	padding-top: 200px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 5px black;
}

.btn-primary {
	background-color: #2196f3;
	border-color: #2196f3;
	color: white;
}

.btn-primary:hover {
	background-color: #0069C0;
	border-color: white;
	color: black;
}

#searchbutton {
	background-color: #ed1c3a;
	border-color: #ed1c3a;
}

#searchbutton:hover {
	background-color: #F4524D;
	border-color: white;
}

/*----- Listing Carousel -----*/
.carousel-inner > .item > img {
	margin: auto auto;
	max-height: 100%;
	max-width: 100%;
}

.item{
    position: relative;
    height:500px;
    
}

.carousel-img {
    max-height: 500px;
    position: absolute;   
    top: 50%;
    transform: translateY(-50%);
}

.listing-preview {
	max-height: 90px;
	max-width: auto;
}

/*----- Card -----*/
.card-thumb {
	height: 40px;
	width: 40px;
}

#card-pic-small {
	height: 250px;
}
