// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

#backgroud-home {
	background-image: url(capetown_banner1080.jpg);
	width: 100%;
	height: 600px;
	/*background-size: cover;*/
}